.footer{
    background:#4e6da6 ;
    margin-top: 50px;
   &__item{
        @include flex(center, space-around, wrap);
   }
   &__list{
        margin: 20px 0 ;
        @include font( 400, 16px, $text-write);
   }
   &__list--item{
        @include flex(flex-start, space-between, wrap);
        color: #000;
   }
   &__link{
        @include font( 400, 16px, $text-write);
        @include flex(flex-start, flex-start, wrap);
        border-bottom: 2px solid #4e6da6;
    
   }
   &__link:hover{
       border-bottom: 2px solid #E2B024;
   }
   &__map{
        width: 350px;
        height: 250px;
   }
   &__title{
     @include font( 600, 22px, $text-write);
   }
   &__list{
     @include flex(flex-start, flex-start, wrap);
   }
   &__img--icon{
        padding-right: 15px;
   }
}
@media screen and(max-width:420px) {
    .footer{
     &__link{
          @include font( 400, 14px, $text-write); 
     }
     &__img--icon{
          padding-right: 5px;
     }
     &__map{
          width: 300px;
          height: 220px;
     }
    }
 }